@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navigation {

    height: 55px;
    background: linear-gradient(45deg, #031535, #04befe);

}

.brand {
    position: absolute;
    // padding-left: 10px;
    float: left;
    line-height: 55px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}


nav {
    position: relative;
    display: flex;
    float: right;
}

.Name {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 55px;
    color: #fff;
    background: #262626;
    text-decoration: none;
}

nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 55px;
    color: #fff;
    // background: #102d50;
    text-decoration: none;
}

nav ul li a {
    background: transparent;
    color: #FFF;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    background: #004387;
    color: #ffffff;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}

.navbar-dropdown {
    li {

        a {
            color: #000000 !important;
            background: #ffffff;
        }

        a:hover {
            color: #ffffff !important;
        }
    }
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' \025BE';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.navbar-dropdown {
    display: none;
}

.navbar-dropdown.open {
    position: absolute;
    display: block;
    z-index: 8;
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 55px;
    width: 70px;
}

@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;

    }


    nav {
        width: 100%;
        padding: 55px 0 0 0;
    }

    .Name {
        display: block;
        position: absolute;
        top: 0;
        right: 25%;
        padding: 0 50px;
        line-height: 55px;
        font-size: larger;
        font-weight: 500;
        color: #fff;
        background: transparent;
    }

    nav ul {
        display: none;
        z-index: 8;
    }

    .nav-list.open {
        position: absolute;
        display: block;
        width: 100%;
        z-index: 8;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
        background: #262626;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }

    .navbar-dropdown {
        position: static;
    }

    @media screen and (min-width:800px) {
        .nav-list {
            display: block !important;

        }
    }

    #navbar-toggle {
        position: absolute;
        left: 18px;
        top: 15px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
    }

    #navbar-toggle span,
    #navbar-toggle span:before,
    #navbar-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 30px;
        background: #ffffff;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

    #navbar-toggle span:before {
        top: -10px;
    }

    #navbar-toggle span:after {
        bottom: -10px;
    }

    #navbar-toggle.active span {
        background-color: transparent;
    }

    #navbar-toggle.active span:before,
    #navbar-toggle.active span:after {
        top: 0;
    }

    #navbar-toggle.active span:before {
        transform: rotate(45deg);
    }

    #navbar-toggle.active span:after {
        transform: rotate(-45deg);
    }
}